[flake8]

max-complexity = 14
max-line-length = 80
doctests = True

import-order-style = pep8
application-import-names = py_gql

select = C,E,F,W,B,B9

ignore =
    B903
    E203
    E501
    E731
    W503
    B006

exclude =
    .git,
    __pycache__,
    .tox,
    *.pyc
