# Dependencies for local development

flake8-import-order ~= 0.17.1
flake8 ~= 3.5.0
invoke ~= 1.0.0
pytest-cov ~= 2.5.1
pytest-mock ~= 1.10.0
pytest ~= 3.4.2
tox ~= 3.0.0

# Fix conflict with pep8
pycodestyle < 2.4

-e .
