# Dependencies for local development

flake8 ~= 3.5
black == 18.6b2
flake8-bugbear ~= 18.2
flake8-import-order ~= 0.17
invoke ~= 1.0
tox ~= 3.0
isort ~= 4.3

# Fix conflict with flake8
pycodestyle < 2.4

-r test-requirements.txt

-e .
