# Dev dependencies for Python2
# `inv fmt`, `inv lint` and `inv docs` will not work as some Python3 only
# modules are used and excluded from these requirements.

invoke ~= 1.1
pytest ~= 3.6
pytest-cov ~= 2.5
pytest-mock ~= 1.10
tox ~= 3.0

-e .
