/*
 * custom.css
 * ~~~~~~~~~
 *
 * Custom stylesheet
 *
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,700,700i');

.admonition-title {
    font-size: 1em !important;
    font-weight: bold !important;
    line-height: 1.25 !important;
    margin: 0 0 0 0 !important;
}

div.admonition {
    padding: 0.5em 0.5em !important;
}

pre,
tt,
code {
    font-family: "Roboto Mono", "Menlo", "Deja Vu Sans Mono",
        "Bitstream Vera Sans Mono", monospace;
}
